{% extends 'base.html.twig' %}

{% block title %}TypeReservation index{% endblock %}

{% block body %}
    <h1>TypeReservation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_reservation in type_reservations %}
            <tr>
                <td>{{ type_reservation.id }}</td>
                <td>{{ type_reservation.nombre }}</td>
                <td>
                    <a href="{{ path('app_type_reservation_show', {'id': type_reservation.id}) }}">show</a>
                    <a href="{{ path('app_type_reservation_edit', {'id': type_reservation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_reservation_new') }}">Create new</a>
{% endblock %}
